body {
  font-family: 'Ubuntu', sans-serif;
  margin:0;
  padding:0;
  background-color:WhiteSmoke;
  color:#333;
  height:100%;
  text-align:center;
}

.container {
  margin: 0 auto;
  width:1080px;
  text-align:left;
}

.oem {
  font-size:42px;
}

.box {
  width:233px;
  float:left;
  background-color:#e3e3e3;
  text-align:left;
  height:300px;
}

.oem {
  font-size:32px;
}

.halfbox {
  width:480px;
  float:left;
}

.description {
  color: #e2f1fa;
  font-size:22px;
}

a {
  text-decoration:none;
  color:#0699fa;
}

a:visited {
  text-decoration:none;
  color:#0699fa;
}

a:hover {
  text-decoration:none;
  color:#0699fa;
}

.emoncmsappimg {
  float:right; 
  width:250px
}

.oemheading {
  color:#0699fa; 
  font-size:20px; 
  font-weight:bold; 
  font-family:Arial;
}

.oemheading2 {
  color:#fff; 
  padding-top:100px; 
  padding-bottom:20px;
  /*font-weight:bold; */
  /*font-family:Arial;*/
}

.column,
.columns {
  width:100%;
  float: left;
  text-align:left;
  box-sizing: border-box; }

.b4img {width:100%}
.b4dsc {width:100%; height:130px}

.productimg {
  float:right; 
  width:100%;
  margin-left:20px;
  margin-bottom:20px;
}

@media (max-width: 450px) {
  .container {
    width: 100%;
  }

  .emoncmsappimg {
    width:200px
  }
  
  .oemheading { font-size:52px; } 
  .oemheading2 { padding-top:50px; font-size:52px; }
  
  .b4img {width:50%}
  .b4dsc {width:50%; float:right}
  
  .productimg {
    margin-left:0px;
  }
}

@media (min-width: 450px) and (max-width: 800px) {
  .container {
    width: 600px;
  }
  
  .box2 { width:50%; }
  .box3 { width:33%; }
  .box4 { width:25%; }
  
  .productimg {
    width:250px;
  }
}
    
@media (min-width: 800px) and (max-width: 1080px) {
  .container {
    width: 800px;
  }
  
  .emoncmsappimg {
    width:200px
  }

  .box2 { width:50%; }
  .box3 { width:33%; }
  .box4 { width:25%; }
  
  .productimg {
    width:350px;
  }
}

@media (min-width: 1080px) {
  .container {
    width: 1080px;
  }
  
  .box2 { width:50%; }
  .box3 { width:33%; }
  .box4 { width:25%; }
  
  .productimg {
    width:450px;
  }
}

.inner { padding:20px; }

.box3 { text-align:center; }

ul {
   font-size:14px;
}

li {
    padding-bottom:8px;
}

